# GitHub App Configuration
# 此文件由 Astro 构建自动同步生成

# 你的 GitHub 用户名
PUBLIC_GITHUB_OWNER=yzg011

# 你的仓库名称
PUBLIC_GITHUB_REPO=2026blog

# 你的仓库分支
PUBLIC_GITHUB_BRANCH=main

# 你的 GitHub App ID
PUBLIC_GITHUB_APP_ID=4441387

# 用于加密存储私钥的密钥
PUBLIC_GITHUB_ENCRYPT_KEY=wudishiduomejimo
